.chart-container{
    margin: 2em 0;
    width: 96%;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; /* Firefox */
    height: 400px;
}

.fontName {
    font: normal normal 900 9px/12px Roboto; 
    letter-spacing: -0.29px;
  }